@font-face {
  font-family: 'iconfont'; /* Project id 5039005 */
  /* Color fonts */
  src:
    url('iconfont.woff2?t=1761702685779') format('woff2'),
    url('iconfont.woff?t=1761702685779') format('woff'),
    url('iconfont.ttf?t=1761702685779') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yingxiangjizhongzhenduan:before {
  content: '\e636';
}

.icon-suoxiao:before {
  content: '\e616';
}

.icon-feiji:before {
  content: '\e6ae';
}

.icon-baogao:before {
  content: '\e630';
}

.icon-fangshe:before {
  content: '\e6cd';
}

.icon-wenjian:before {
  content: '\e629';
}

.icon-shoudong:before {
  content: '\e729';
}

.icon-fangda:before {
  content: '\e666';
}

.icon-xinxi:before {
  content: '\e78f';
}

.icon-shenqingdan:before {
  content: '\e60e';
}

.icon-cloud-upload:before {
  content: '\e98a';
}

.icon-film:before {
  content: '\e98f';
}

.icon-tingzhenqi:before {
  content: '\e7a9';
}

.icon-a-5fangshezhenliaoshebeiguanli-shebeixitong:before {
  content: '\e655';
}

.icon-baogaoshangchuan:before {
  content: '\e799';
}

.icon-zhenliao:before {
  content: '\e628';
}

.icon-rizhi:before {
  content: '\e60c';
}

.icon-chajianpeizhi:before {
  content: '\e69c';
}

.icon-rizhi1:before {
  content: '\e647';
}

.icon-quanxian:before {
  content: '\e60d';
}

.icon-canshu:before {
  content: '\e60f';
}

.icon-setting:before {
  content: '\e966';
}

.icon-guidang:before {
  content: '\e640';
}

.icon-xitong:before {
  content: '\e835';
}

.icon-jiancharenwufenpei:before {
  content: '\e624';
}

.icon-yinhangcunguan:before {
  content: '\e725';
}

.icon-a-106_other:before {
  content: '\e681';
}

.icon-guidang1:before {
  content: '\e600';
}

.icon-a-bianzu23:before {
  content: '\e603';
}
