@font-face {
  font-family: 'iconfont'; /* Project id 5039005 */
  /* Color fonts */
  src:
    url('iconfont.woff2?t=1761541033539') format('woff2'),
    url('iconfont.woff?t=1761541033539') format('woff'),
    url('iconfont.ttf?t=1761541033539') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhenliao:before {
  content: '\e628';
}

.icon-rizhi:before {
  content: '\e60c';
}

.icon-chajianpeizhi:before {
  content: '\e69c';
}

.icon-rizhi1:before {
  content: '\e647';
}

.icon-quanxian:before {
  content: '\e60d';
}

.icon-canshu:before {
  content: '\e60f';
}

.icon-setting:before {
  content: '\e966';
}

.icon-guidang:before {
  content: '\e640';
}

.icon-xitong:before {
  content: '\e835';
}

.icon-jiancharenwufenpei:before {
  content: '\e624';
}

.icon-yinhangcunguan:before {
  content: '\e725';
}

.icon-a-106_other:before {
  content: '\e681';
}

.icon-guidang1:before {
  content: '\e600';
}

.icon-a-bianzu23:before {
  content: '\e603';
}
