.miv-canvas {
  width: 100% !important;
  height: 100% !important;
}
.miv-canvasWrap {
  width: 100% !important;
  height: 100% !important;
}
.miv-left {
  height: 100% !important;
}
.co-miv-left {
  height: 100% !important;
}
