@import './var.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

.padding-none {
  .el-card__body {
    padding-bottom: 0px !important;
  }
}
.page {
  min-width: 1000px;
  overflow: auto;
}

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}

.el-table .cell.el-tooltip {
  font-size: 12px;
}
.el-table td.el-table__cell div {
  font-size: 12px;
}

.el-step__title.is-process {
  color: var(--el-text-color-placeholder) !important;
  font-weight: 500 !important;
}
.el-step__head.is-process {
  color: var(--el-text-color-placeholder) !important;
}
.el-step__head.is-process {
  border-color: var(--el-text-color-placeholder) !important;
}
.el-step__title {
  font-size: 12px !important;
}
.task-config-dialog {
  .el-dialog__body {
    max-height: 75vh !important;
    overflow: auto !important;
  }
}
.mt-10 {
  .el-card__body {
    height: calc(100% - 30px);
  }
}

.el-dropdown :focus-visible {
  outline: none !important;
}
.el-dropdown {
  cursor: pointer;
}

// 全局去除 a 标签下划线
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
// 新增存储媒介,编辑存储媒介
.user-new-dialog {
  .el-dialog__body {
    max-height: 60vh;
    min-height: 300px;
    overflow: auto !important;
  }
}
.group-systemparam {
  .el-collapse-item__header {
    height: 100px;
    padding-left: 20px;
  }
}
.el-form--label-left .el-form-item {
  margin-right: 8px !important;
}

.from-inline-margin .el-form-item {
  margin-right: 13px !important;
}
.from-inline-margin .el-form-item__label {
  font-size: 12px !important;
}
.from-inline-margin {
  .el-dropdown-link {
    font-size: 12px !important;
  }
  .el-input__wrapper {
    border-radius: 0px !important;
    height: 29px !important;
    font-size: 14px !important;
  }
  .el-select__wrapper {
    border-radius: 0px !important;
    height: 29px !important;
    font-size: 14px !important;
  }
  .el-button {
    font-size: 12px !important;
    height: 28px !important;
    line-height: 29px !important;
    border-radius: 0px !important;
    padding: 0 15px !important;
  }
}
.sep-span {
  margin: 0 -7px !important;
}
.el-select__wrapper {
  border-radius: 0px !important;
}
.el-input__wrapper {
  border-radius: 0px !important;
}
.el-button {
  border-radius: 0px !important;
}

.el-menu-item:hover {
  background-color: var(--el-color-primary-light-9) !important;
}

.el-input-group__append {
  padding: 0 9px !important;
}
.el-table__body tr.current-row > td.el-table__cell {
  // background-color: rgba(66, 101, 137, 0.3) !important;
  border-bottom: 1px solid rgba(66, 101, 137) !important;
}
.el-table--default .cell {
  padding: 0 4px !important;
}

.card-table {
  .el-card__body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.el-dialog__header {
  border-bottom: none !important;
}
.el-dialog__footer {
  border-top: none !important;
}
.el-table .current-row > td {
  transition: none !important;
}
.el-table .el-table__row.is-selected > td {
  transition: none !important;
}
.el-table .el-table__row {
  transition: none !important;
}
.el-table .el-table__row td {
  transition: none !important;
}
.nopadding-card .el-card__body {
  padding-bottom: 0px !important;
}
.nopadding-card-top .el-card__body {
  padding-top: 0px !important;
}
.input-with-select {
  .el-input__wrapper {
    box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset !important;
  }
}
.input-with-selects {
  .el-select__wrapper {
    background-color: #ffff !important;
    box-shadow: 0 0 0 0px var(--el-input-border-color, var(--el-border-color)) inset !important;
  }
}
.el-input__wrapper {
  // box-shadow: 0 0 0 1px #858282 inset !important;
}
.el-input-group__append {
  box-shadow:
    0 1px 0 0 #858282 inset,
    0 -1px 0 0 #858282 inset,
    -1px 0 0 0 #858282 inset !important;
}
.el-select__wrapper {
  // box-shadow: 0 0 0 1px #858282 inset !important;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
.sms-header {
  .el-card__header {
    // border-bottom: 1px solid var(--el-card-border-color);
    box-sizing: border-box;
    border-bottom: 0px solid var(--el-card-border-color);
    /* padding: calc(var(--el-card-padding) - 2px) var(--el-card-padding); */
    padding: 10px 20px 7px;
    font-size: 20px;
    font-weight: 600;
  }
  .el-card__body {
    padding-top: 10px !important;
  }
}
