@import './var.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}

.el-table .cell.el-tooltip {
  font-size: 12px;
}
.el-table td.el-table__cell div {
  font-size: 12px;
}

.el-step__title.is-process {
  color: var(--el-text-color-placeholder) !important;
  font-weight: 500 !important;
}
.el-step__head.is-process {
  color: var(--el-text-color-placeholder) !important;
}
.el-step__head.is-process {
  border-color: var(--el-text-color-placeholder) !important;
}
.el-step__title {
  font-size: 12px !important;
}
.task-config-dialog {
  .el-dialog__body {
    max-height: 75vh !important;
    overflow: auto !important;
  }
}
.mt-10 {
  .el-card__body {
    height: calc(100% - 30px);
  }
}
